<div class="uk-container uk-container-center">
  <nav class="uk-navbar uk-margin-large">
    <ul class="uk-navbar-nav">
      <li><a href="index.html">Cook Page</a></li>
      <li><a href="edit-page.html">Chef Page</a></li>
      <li class="uk-active"><a href="admin-page.html">Admin Page</a></li>
    </ul>
  </nav>
</div>

<div class="uk-container uk-container-center ">
  <table class="uk-table uk-table-hover uk-table-striped">
    <tfoot>
    <tr class="uk-text-center">
      <td class="uk-width-1-5 uk-text-middle">Meal image</td>
      <td class="uk-width-1-5 uk-text-middle">Meal name</td>
      <td class="uk-width-1-5 uk-text-middle">Meal price</td>
      <td class="uk-width-1-5 uk-text-middle">Menu dialog</td>
      <td class="uk-width-1-5 uk-text-middle"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr class="uk-text-center">
      <td class="uk-width-1-5 uk-text-middle"><img src="img/margarita.jpg" alt="Pizza Margarita" class="meal-image uk-thumbnail-mini"></td>
      <td class="uk-width-1-5 uk-text-middle">Pizza Margarita</td>
      <td class="uk-width-1-5 uk-text-middle">$5</td>
      <td class="uk-width-1-5 uk-text-middle">
        <form class="uk-form">
          <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
        </form>
      </td>
      <td class="uk-width-1-5 uk-text-middle"><button class="uk-button uk-button-default" type="button" name="edit">Edit</button>
        <!-- <button class="uk-button uk-button-default" type="button" name="delete">Delete</button> -->
      </td>
    </tr>
    <tr class="uk-text-center">
      <td class="uk-width-1-5 uk-text-middle"><img src="img/lasagna.jpg" alt="Lasagna" class="meal-image uk-thumbnail-mini"></td>
      <td class="uk-width-1-5 uk-text-middle">Lasagna</td>
      <td class="uk-width-4-5 uk-text-middle">$3</td>
      <td class="uk-width-1-5 uk-text-middle">
        <form class="uk-form">
          <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
        </form>
      </td>
      <td class="uk-width-1-5 uk-text-middle"><button class="uk-button uk-button-default" type="button" name="edit">Edit</button>
        <!-- <button class="uk-button uk-button-default" type="button" name="delete">Delete</button> -->
      </td>
    </tr>
    <tr class="uk-text-center">
      <td class="uk-width-1-5 uk-text-middle"><img src="img/carbonara.jpg" alt="Pasta Carbonara" class="meal-image uk-thumbnail-mini"></td>
      <td class="uk-width-1-5 uk-text-middle">Pasta Carbonara</td>
      <td class="uk-width-2-5 uk-text-middle">$4</td>
      <td class="uk-width-1-5 uk-text-middle">
        <form class="uk-form">
          <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
        </form>
      </td>
      <td class="uk-width-1-5 uk-text-middle"><button class="uk-button uk-button-default" type="button" name="edit">Edit</button>
        <!-- <button class="uk-button uk-button-default" type="button" name="delete">Delete</button> -->
      </td>
    </tr>
    </tbody>
  </table>
</div>
