<div class="uk-container uk-container-center">
  <nav class="uk-navbar uk-margin-large">
    <ul class="uk-navbar-nav">
      <li><a href="index.html">Cook Page</a></li>
      <li class="uk-active"><a href="edit-page.html">Chef Page</a></li>
      <li><a href="admin-page.html">Admin Page</a></li>
    </ul>
  </nav>
</div>
<div class="uk-container uk-container-center">
<table class="uk-table uk-table-hover uk-table-striped">
  <tfoot>
  <tr class="uk-text-center">
    <td class="uk-width-1-4">Meal image</td>
    <td class="uk-width-1-4">Meal name</td>
    <td class="uk-width-1-4">Meal price</td>
    <td class="uk-width-1-4">Menu dialog</td>
  </tr>
  </tfoot>
  <tbody>
  <tr class="uk-text-center">
    <td class="uk-width-1-4 uk-text-middle"><img src="assets/img/margarita.jpg" alt="Pizza Margarita" class="meal-image uk-thumbnail-mini"></td>
    <td class="uk-width-1-4 uk-text-middle">Pizza Margarita</td>
    <td class="uk-width-1-4 uk-text-middle">$5</td>
    <td class="uk-width-1-4 uk-text-middle"></td>
  </tr>
  <tr class="uk-text-center">
    <td class="uk-width-1-4 uk-text-middle"><img src="assets/img/lasagna.jpg" alt="Lasagna" class="meal-image uk-thumbnail-mini"></td>
    <td class="uk-width-1-4 uk-text-middle">Lasagna</td>
    <td class="uk-width-1-4 uk-text-middle">$3</td>
    <td class="uk-width-1-4 uk-text-middle"></td>
  </tr>
  <tr class="uk-text-center">
    <td class="uk-width-1-4 uk-text-middle"><img src="assets/img/carbonara.jpg" alt="Pasta Carbonara" class="meal-image uk-thumbnail-mini"></td>
    <td class="uk-width-1-4 uk-text-middle">Pasta Carbonara</td>
    <td class="uk-width-1-4 uk-text-middle">$4</td>
    <td class="uk-width-1-4 uk-text-middle"></td>
  </tr>
  <tr class="uk-text-center">

      <td class="uk-width-1-4 uk-text-middle">

        <input class="uk-input uk-form-small" type="file" name="mealImage" value="" class="meal-image">

      </td>
      <td class="uk-width-1-4 uk-text-middle"><input class="uk-input  uk-form-small uk-width-1-2" type="text" name="mealName" value="" class="meal-name" placeholder="Name"></td>
      <td class="uk-width-1-4 uk-text-middle"><input class="uk-input  uk-form-small uk-width-1-2" type="text" name="mealPrice" value="" class="meal-price" placeholder="Price"></td>
      <td class="uk-width-1-4 uk-text-middle"><button class="uk-button uk-button-default add-button" type="button" name="add" >Add new meal</button></td>

  </tr>
  </tbody>
</table>
</div>
